<i class="center large material-icons" style="display: inline-block; float:left;">insert_chart</i>





<div class="row">
  <div class="col s12 m5">
    <div class="center-align card-panel teal z-depth-5" style="width:50%;">
      <span class="white-text">
      Previous Results:
      </span>
    </div>
  </div>
</div>
