<i class="center large material-icons" style="display: inline-block; float:left;">insert_chart</i>





<div class="row">
  <div class="col s12 m5">
    <div class="center-align card-panel teal z-depth-5" style="width:50%;">
      <span class="white-text">
      Previous Results:
      </span>
    </div>
  </div>
</div>



<% current_user.searches.each do |s| %>
	<form method="get" action="/searches/<%= s.id %>">
	<button type="submit" style="background: transparent; border: none; float-left;">
	<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
	<%= s.word %>
	Searched on: <%= s.created_at.to_date %>
	</button>
	</form>
	 
	<br>
	
	<br>
	<br>
<% end %>