<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey lighten-1">
      <div class="card-content white-text">
        <span class="card-title"</span>
        <p><%= @quote %></p>
      </div>
      <div class="card-action">
      <img src=<%= @giphy %> width="260", height="158">
      </div>
    </div>
  </div>
</div>