<h1> Welcome to the Home Page </h1>



<form id="quote" method='post' action='/quotes/new'>
	<label for="word" vaule="enter a word">
	<input id='word' type="text" name="word">
	<br>
	<button type="submit">Generate Quote</button>
</form>