<br>
<br>
<br>
<form id="quote" method='post' action='/quotes/new'>
	<label for="word">Enter a word:</label>
	<input id='word' type="text" name="word">
	<br>
	<button type="submit">Generate Quote</button>
</form>


<div class="Hot-Quote">

<div class="container">

  <main class="mascot">
    <div class="sign-text-wrap">
      <div class="sign-text">

      </div>
    </div>
  </main>
</div>


</div>